/* No changes here */
.footer {
    background-color: #363533;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: auto; /* Push the footer to the bottom */
  }
  
  .top-footer,
  .middle-footer,
  .lower-footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0; /* Adjust spacing as needed */
  }
  
  .top-footer p,
  .middle-footer p,
  .lower-footer p {
    margin: 0;
  }
  
  .top-footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .top-footer a:hover {
    text-decoration: underline;
  }
  .italic-cursive {
    font-family: 'Tangerine', cursive;
    
  }

  .colored-line {
    display: flex;
    justify-content: space-between;
    height: 5px; /* Adjust the height as needed */
  }
  
  .red-line,
  .yellow-line,
  .green-line {
    flex: 1;
    height: 100%;
  }
  
  .red-line {
    background-color: rgba(89, 184, 35, 0.774);
  }
  
  .yellow-line {
    background-color: rgb(145, 145, 130);
  }
  
  .green-line {
    background-color: rgb(56, 97, 175);
  }
  
  .glowing-title {
    text-align: center;
  }
  
  .glowing-title p {
    font-style: italic;
    font-weight:300;
    font-size: 24px; /* Adjust the font size as needed */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
  
  .partially-done-line {
    height: 2px; /* Adjust the height as needed */
    width: 80%; /* Adjust the width as needed */
    background-color: #cecece; /* Adjust the color as needed */
    margin: 0 auto;
    margin-top: 10px; /* Adjust the margin-top as needed */
    opacity: 0.7; /* Adjust the opacity as needed */
  }
 


.lower-footer {
  display: flex;
  align-items: center;
  margin-top: 20px; /* Add space between the top and the lower footer */
}

.footer-logo img {
  width: 50px;
  height: auto;
}

.separator {
  margin: 0 10px; /* Adjust the margin as needed */
  color: white; /* Adjust the color as needed */
  border-left: 1px solid rgb(185, 185, 185); /* Add vertical line */
}
.footer-details {
  flex-grow: 1;
  color: white; /* Adjust the color as needed */
  display: flex;
  justify-content: center; /* Center align content */
  align-items: center; /* Center align vertically */
  flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
}
.footer-section {
  margin: 20px;
  flex-basis: 30%; /* Adjust the width of each section */
  text-align: center;
  margin-bottom: 20px;
  flex-basis: 48%; /* Adjust the width of each column */
}
.footer-section h5 {
  font-size: 18px; /* Adjust font size as needed */
  margin-bottom: 5px; /* Adjust margin as needed */
}

.footer-section p {
  display: flex;
  align-items: center; 
  margin: 0; 
}

