/* SecondCard.css */

.second-card-container {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    align-items: flex-start;
    padding: 10px; /* Adjust the padding as needed */
}

.second-card {
    flex: 5; /* Adjust the flex value as needed */
    width: 100%; /* Adjust the width as needed */
    margin-left: 45px; /* Adjust the margin as needed for spacing between cards */
}

.second-card-header {
    position: relative;
}

.second-card-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
}

.second-card-arrows > button {
    background-color: #252422; /* Dark grey color */
    color: #ffffff; /* White text color */
    border: none;
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
}

.second-card-arrows > button:disabled {
    opacity: 0.5; /* Dim the arrow buttons when disabled */
}

.second-card-footer-btn {
    background-color: #252422; /* Dark grey color */
    color: #ffffff; /* White text color */
    border: none;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.second-card-footer {
    background-color: #252422 !important; /* Dark grey color for the "Go somewhere" button */
    color: white !important; 
    /* Add styles for card footer if needed */
}
